In [1]:
import numpy as np
import pandas as pd

In [1]:
import numpy as np
from sklearn.datasets import make_regression
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn.linear_model import ElasticNetCV, LinearRegression, Lars
from sklearn.svm import LinearSVR, SVR
from sklearn.preprocessing import StandardScaler, FunctionTransformer, PolynomialFeatures, OneHotEncoder, PowerTransformer
from sklearn.model_selection import cross_validate, train_test_split, RepeatedKFold, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.compose import TransformedTargetRegressor
import matplotlib.pyplot as plt
from vb_helper import VBHelper,shrinkBigKTransformer,logminus_T,exp_T,logminplus1_T,none_T, logp1_T,missingValHandler,dropConst
import os
import pandas as pd

In [39]:
x=pd.DataFrame(data={str(i):np.arange(5*i,5*(i+1)) for i in range(5)})
x.iloc[:,0]=1
x

   0  1   2   3   4
0  1  5  10  15  20
1  1  6  11  16  21
2  1  7  12  17  22
3  1  8  13  18  23
4  1  9  14  19  24

In [44]:
#z=x.apply(lambda y:y.unique(),axis=1)
z=x.apply(pd.Series.nunique)
z

0    1
1    5
2    5
3    5
4    5
dtype: int64

In [54]:
z=

array([[ 1,  5, 10, 15, 20],
       [ 1,  6, 11, 16, 21],
       [ 1,  7, 12, 17, 22],
       [ 1,  8, 13, 18, 23],
       [ 1,  9, 14, 19, 24]])

In [48]:
x.loc[:,z>1]

   1   2   3   4
0  5  10  15  20
1  6  11  16  21
2  7  12  17  22
3  8  13  18  23
4  9  14  19  24

In [39]:
x=pd.DataFrame(data={str(i):np.arange(5*i,5*(i+1)) for i in range(5)})
print('initial df','\n',x)
x.iloc[0,0]=np.nan
print('df with 1 NaN','\n',x)
x=x[~np.isnan(x)]
print('df with offending row not dropped','\n',x)
x=x.dropna()
print('df with offending row dropped','\n',x)

initial df
    0  1   2   3   4
0  0  5  10  15  20
1  1  6  11  16  21
2  2  7  12  17  22
3  3  8  13  18  23
4  4  9  14  19  24
df with 1 NaN
      0  1   2   3   4
0  NaN  5  10  15  20
1  1.0  6  11  16  21
2  2.0  7  12  17  22
3  3.0  8  13  18  23
4  4.0  9  14  19  24
df with offending row not dropped
      0  1   2   3   4
0  NaN  5  10  15  20
1  1.0  6  11  16  21
2  2.0  7  12  17  22
3  3.0  8  13  18  23
4  4.0  9  14  19  24
df with offending row dropped
      0  1   2   3   4
1  1.0  6  11  16  21
2  2.0  7  12  17  22
3  3.0  8  13  18  23
4  4.0  9  14  19  24

In [10]:
if type(x)==pd.DataFrame:
    print(1)

1

In [7]:
print(type(x))

NameError: name 'x' is not defined

In [11]:
np.arange(1)

array([0])

In [12]:
'a'.isdigit()

False

In [119]:
k=9
interv=-(-k//3)

In [120]:
np.arange(4,k+interv,interv)

array([ 4,  7, 10])

In [89]:
np.linspace(2,k+1,4).round()

array([2., 4., 6., 8.])

In [29]:
list(range(0,3,-(-3//4)))

[0, 1, 2]

In [22]:
np.logspace(np.log10(0.75),0,5,endpoint=False)

array([0.75      , 0.79441788, 0.84146636, 0.89130123, 0.94408751])

In [2]:
1e-5

1e-05

In [12]:
3*2**3

24

In [18]:
list(range(1,5,5//2
          ))

[1, 3]

In [15]:
.5*(-1.21)**np.arange(30)

array([   0.5       ,   -0.605     ,    0.73205   ,   -0.8857805 ,
          1.0717944 ,   -1.29687123,    1.56921419,   -1.89874917,
          2.29748649,   -2.77995866,    3.36374997,   -4.07013747,
          4.92486634,   -5.95908827,    7.21049681,   -8.72470113,
         10.55688837,  -12.77383493,   15.45634027,  -18.70217172,
         22.62962778,  -27.38184962,   33.13203804,  -40.08976603,
         48.50861689,  -58.69542644,   71.02146599,  -85.93597385,
        103.98252836, -125.81885931])

In [8]:
np.array(range(5))

array([0, 1, 2, 3, 4])

In [13]:
for i in range(0,30,15):
    print(i)

0
15

In [6]:
x=np.arange(10)[:,None]
min_x=np.min(x,axis=-1,keepdims=1)
min_x+x

array([[ 0],
       [ 2],
       [ 4],
       [ 6],
       [ 8],
       [10],
       [12],
       [14],
       [16],
       [18]])

In [10]:
X=np.arange(64).reshape(16,4)-32
xout=np.zeros(X.shape)
xout[X>0]=np.log(X[X>0])
xout

array([[0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.69314718, 1.09861229],
       [1.38629436, 1.60943791, 1.79175947, 1.94591015],
       [2.07944154, 2.19722458, 2.30258509, 2.39789527],
       [2.48490665, 2.56494936, 2.63905733, 2.7080502 ],
       [2.77258872, 2.83321334, 2.89037176, 2.94443898],
       [2.99573227, 3.04452244, 3.09104245, 3.13549422],
       [3.17805383, 3.21887582, 3.25809654, 3.29583687],
       [3.33220451, 3.36729583, 3.40119738, 3.4339872 ]])

In [21]:
list(range(0,16,15//3))

[0, 5, 10, 15]